    <footer  class="footnote footnote-tiffany">
	<!-- Link Gitalk 的支持文件  -->
		<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
		<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
		<div id="gitalk-container"></div>     <script type="text/javascript">
			var gitalk = new Gitalk({

			// gitalk的主要参数
				clientID: '3efaf9d13f44c16bbcfd',
				clientSecret: 'b11a543135681ed6f8cba78efeba53129842d198',
				repo: 'blog.github.io',
				owner: '15262331232',
				admin: ['15262331232'],
				id: decodeURI('{{ page.url }}'),

			});
			gitalk.render('gitalk-container');
		</script> 
        <div class="container">
                <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github.username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
                <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
                <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-link-external"></span></a>
                &nbsp;
                <a href="https://github.com/bit-ranger"><span class="word-keep">&copy; Jizy</span></a>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}
